/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/assets/styles/pages/projects.sass ***!
  \************************************************************************************************************************************************************/
.project {
  border: 1px solid var(--gray);
  transition: all 0.3s ease;
  animation: fadeInUp 0.6s ease both;
}
.project:hover {
  border-color: var(--primary);
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.project__links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.project__image {
  border-bottom: 1px solid var(--gray);
  aspect-ratio: 16/9;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.project__content {
  padding: 16px;
}
.project__name {
  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.project:hover .project__name {
  color: var(--primary);
}
.project__description {
  color: var(--gray);
  margin: 16px 0;
}
.project__techs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  color: var(--gray);
  padding: 8px;
  border-bottom: 1px solid var(--gray);
}

.project-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.project-list {
  gap: 16px;
  align-items: start;
  margin-top: 48px;
}
.project-list .project:nth-child(1) {
  animation-delay: 0.1s;
}
.project-list .project:nth-child(2) {
  animation-delay: 0.2s;
}
.project-list .project:nth-child(3) {
  animation-delay: 0.3s;
}
.project-list .project:nth-child(4) {
  animation-delay: 0.4s;
}
.project-list .project:nth-child(5) {
  animation-delay: 0.5s;
}
.project-list .project:nth-child(6) {
  animation-delay: 0.6s;
}
.project-list .project:nth-child(7) {
  animation-delay: 0.7s;
}
.project-list .project:nth-child(8) {
  animation-delay: 0.8s;
}
.project-list .project:nth-child(9) {
  animation-delay: 0.9s;
}
